<footer>
    <div class="container">
        <img src="assets/images/logogi2t.svg" alt="" class="imagen-footer2">

        <div class="socialIconos">
            <a href="https://www.facebook.com/UnipacificoOmarbaronamurillo" aria-label="Facebook de Unipacifico">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/unipacifico?igsh=amM0dTZ1aHh1cHg2" aria-label="Instagram de Unipacifico">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://x.com/home?lang=es" aria-label="Twitter de Unipacifico">
                <i class="fa-brands fa-twitter"></i>
            </a>

            <a href="http://www.unipacifico.edu.co/" aria-label="Página web de Unipacifico">
                <i class="fa-brands fa-google-plus"></i>
            </a>

            <a href="https://www.youtube.com/@UnidelPacifico" aria-label="YouTube de Unipacifico">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
        
        <div class="footerNav">
            <ul>
                <li> <a [routerLink]="['/home']" routerLinkActive="router-link-active">INICIO</a></li>
            </ul>
        </div>
        <img src="assets/images/inge.svg" alt="" class="imagen-footer">
    </div>
</footer>