<div class="main">
    <div class="container-fluid">
  
      <!-- Header -->
      <header>
        <div class="left">
          <div class="menu-container"> 
            <div class="menu" (click)="toggleSidebar()">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="brand">
            <img src="assets/images/logogi2t.svg" alt="icon-git2" class="logo">
            <span class="name">Gestión de Encuestas</span>
          </div>
        </div>

        <div class="right">

          <a href="#" class="icons-header">
            <img src="assets/images/icons/chat.png" alt="chat">
          </a>
          <a href="#" class="icons-header">
            <img src="assets/images/icons/question.png" alt="questions">
          </a>
          <a href="#" class="icons-header">
            <img src="assets/images/icons/notification.svg" alt="notifications">
          </a>
          <a href="#">
            <img src="assets/images/icons/user.png" alt="img-user" class="user">
          </a>

        </div>
      </header>
  
      <!-- Sidebar -->
      <div [class.menu-toggle]="isSidebarToggled" class="sidebar" id="sidebar">
        <nav>
          <ul>
          <li>
            <a [routerLink]="['/dashboard/list']" routerLinkActive="router-link-active" class="selected">
              <svg
                class="bi bi-receipt"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"
                />
              </svg>
              <span class="menu-text">Lista Encuestas</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/dashboard/new']" routerLinkActive="router-link-active">
              <svg
                class="bi bi-plus-circle-fill"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"
                />
              </svg>
              <span class="menu-text">Nueva</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/encuestas']" routerLinkActive="router-link-active">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-house-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                />
                <path
                  fill-rule="evenodd"
                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
                />
              </svg>
              <span class="menu-text">Test Encuestas</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/dashboard-admin']" routerLinkActive="router-link-active">
              <svg
                class="bi bi-box-arrow-right"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 12a.5.5 0 0 1-.5.5H4A1.5 1.5 0 0 1 2.5 11V5A1.5 1.5 0 0 1 4 3.5h5.5a.5.5 0 0 1 0 1H4A.5.5 0 0 0 3.5 5v6A.5.5 0 0 0 4 11.5h5.5a.5.5 0 0 1 .5.5zm3.854-3.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L12.293 8H5.5a.5.5 0 0 0 0 1h6.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              <span class="menu-text">Salir</span>
            </a>
          </li>
        </ul>
        </nav>


      </div>
      <!-- Content -->
      <div class="container conTouter">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  
  