// Variables de color
$primary-color: #003844;
$secondary-color: #058C42;
$third-color: #f9f9f9;

// Estilo global
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $third-color;
  
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .container-fluid {
    display: flex;
    flex-grow: 1;
  }
}

// Sidebar

// Navbar
.navbar {
  background-color: $primary-color; // Color de fondo principal
  color: white;
  height: 60px; // Altura estándar para dashboards
  display: flex;
  align-items: center; // Centra verticalmente los elementos
  padding: 0 20px; // Espaciado interno a los lados
  position: fixed; // Fija el header en la parte superior
  top: 0;
  left: 0;
  width: 100%; // Ancho completo
  z-index: 10; // Prioridad sobre el contenido
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Sombra decorativa

  .navbar-title {
    font-size: 20px; // Tamaño adecuado para dashboards
    font-weight: bold;
    text-transform: uppercase; // Texto en mayúsculas
    letter-spacing: 1px; // Espaciado entre letras
    margin-left: 10px; // Desplaza ligeramente el título a la izquierda
  }
}


// Content Area
.container {
  margin-left: 250px; // Space for the sidebar
  flex-grow: 1;
  padding: 20px;
  margin-top: 70px; // Ajusta el contenido para evitar superposición
  padding: 20px;
}

.conTouter {
  padding: 20px;
  flex-grow: 1;
  margin-top: 70px;
}

// Media Queries
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .container {
    margin-left: 0;
  }
}
