// Variables de color
$primary-color: #003844;
$secondary-color: #058C42;
$third-color: #f9f9f9;

.sidebar {
  background-color: $primary-color;
  color: white;
  width: 250px;
  position: fixed;
  height: 100%;
  transition: all 0.3s ease;
  top: 60px; 
  &.opened {
    left: 0;
  }
  &.closed {
    left: -250px;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;

    li {
      padding: 10px 20px;
      display: flex;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 5px 0;
        font-size: 16px;
        transition: color 0.3s;
        &:hover {
          color: $secondary-color;
        }
        svg {
          margin-right: 10px;
        }
      }

      &.active {
        background-color: $secondary-color;
        border-radius: 5px;
      }
    }
  }
}
