
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GI2T</title>
</head>
<body>
    <hr>
    <header id="mainheader">
        <nav id="navbar">
            <div class="container">
              <img src="assets/images/Unpa.png" alt="Logo" class="logo">
              <div class="menu-toggle" id="mobile-menu" (click)="toggleMenu()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
              <ul id="nav-links" [class.active]="isMenuOpen">
                <li><a href="#mainheader" (click)="selectOption('mainheader')">Inicio</a></li>
                <li><a href="#objetivo" (click)="selectOption('objetivo')">Objetivo</a></li>
                <li><a href="#metodo" (click)="selectOption('metodo')">Metodología</a></li>
                <li><a href="#logros" (click)="selectOption('logros')">Logros</a></li>
                <li><a href="#cifras" (click)="selectOption('cifras')">Cifras Relevantes</a></li>
                <li><a href="#contacto" (click)="selectOption('contacto')">Contacto</a></li>
                <li class="login-icon">
                    <a (click)="navigateToLogin()">
                      <i class="fas fa-sign-in-alt"></i> <!-- Ícono de login -->
                    </a>
                  </li>
              </ul>
            </div>
          </nav>
        <hr>
        <div id="showcase">
            <div class="container">
                <h1 class="display-1">Uso y apropiación de las TICs</h1>
                <p>
                    Este proyecto tiene como objetivo principal analizar y comprender el acceso, uso y apropiación de Tecnologías de la Información y Comunicación (TICs) entre los estudiantes de bachillerato y media vocacional en el Litoral Pacífico. 
                    A través de una investigación exhaustiva, buscamos identificar las brechas y oportunidades en el uso de las TICs, contribuyendo al desarrollo educativo y social de la región.
                </p>
                <a href="#contacto" class="btn btn-dark">Contactanos</a>
            </div>
        </div>
        <hr>
    </header>

    <section id="objetivo">
        <div class="container">
            <h2>Objetivo</h2>
            <div class="objetivo-flex">
                <div class="objetivo-flex-image">
                    <img src="assets/images/Objetivo.jpg" alt="" />
                </div>
                <div class="objetivo-flex-description">
                    <h4>Objetivo del proyecto</h4>
                    <p>
                        El objetivo de este proyecto es realizar una caracterización detallada del acceso, uso y apropiación de las Tecnologías de la Información y Comunicación (TICs) entre los estudiantes de bachillerato y media vocacional en el Litoral Pacífico. 
                        Esta investigación es fundamental para identificar las desigualdades y limitaciones que enfrentan los estudiantes en su interacción con las TICs, factores que pueden influir en su desarrollo académico y profesional.
                    </p>
                    <p>
                        Al comprender mejor cómo los estudiantes acceden y utilizan estas tecnologías, así como su grado de apropiación, se pueden diseñar estrategias educativas y políticas públicas más efectivas que promuevan la inclusión digital y reduzcan las brechas tecnológicas en la región. 
                        Este esfuerzo es crucial para garantizar que todos los estudiantes tengan la oportunidad de beneficiarse plenamente de las TICs, fomentando así un entorno educativo más equitativo, innovador y capaz de responder a los desafíos del siglo XXI.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="metodo">
        <div class="container">
            <h2>Metodologia</h2>
            <p class="large">
                La metodología del proyecto se basa en un enfoque mixto, combinando técnicas cuantitativas y cualitativas para obtener una visión integral del acceso, 
                uso y apropiación de las TICs por parte de los estudiantes en el Litoral Pacífico.
            </p>
            <div class="metodo-flex">
                <div class="metodo-flex-box">

                    <img src="assets/images/recoleccion.svg" alt="" />
                </div>
                <div class="metodo-flex-box">
                    <img src="assets/images/aplicacion.svg" alt="" />
                    
                </div>
                <div class="metodo-flex-box">
                    <img src="assets/images/resultados.svg" alt="" />
                    
                </div>
            </div>
        </div>
    </section>

    <section id="logros">
        <div class="container">
            <h2>Logros Alcanzados</h2>
            <p class="large">
                El proyecto ha alcanzado varios hitos importantes relacionados con el acceso, uso y apropiación de las TICs en el Litoral Pacífico.
                Estos logros han permitido obtener una visión más clara sobre las necesidades tecnológicas y las oportunidades de mejora en la región.
            </p>
            <div class="logros-flex">
                <div class="logros-flex-box">
                    <h4>Evaluación de Instituciones Educativas</h4>
                    <canvas id="institucionesChart" width="400" height="200"></canvas>
                    <p>
                        Se ha evaluado el acceso a las TICs en más de 50 instituciones de educación media y bachillerato en la región,
                        permitiendo identificar brechas tecnológicas significativas.
                    </p>
                </div>
                <div class="logros-flex-box">
                    <h4>Capacitación en TICs</h4>
                    <canvas id="capacitacionChart" width="400" height="200"></canvas>
                    <p>
                        120 docentes y coordinadores han sido capacitados en el uso adecuado de las TICs para la enseñanza,
                        incrementando la adopción de tecnologías en las aulas.
                    </p>
                </div>
                <div class="logros-flex-box">
                    <h4>Implementación de Estrategias de Apropiación Tecnológica</h4>
                    <canvas id="estrategiasChart" width="400" height="200"></canvas>
                    <p>
                        Se han desarrollado e implementado estrategias de apropiación tecnológica para los estudiantes,
                        beneficiando a más de 2000 alumnos, quienes ahora utilizan las TICs de manera más eficiente en su proceso educativo.
                    </p>
                </div>
            </div>
        </div>
    </section>
    

    <section id="cifras">
        <div class="container">
          <h2>Cifras Relevantes</h2>
          <p class="large">
            En este apartado se muestran las cifras relevantes.	
          </p>
          <div class="cifras-flex">
            <!-- Gráfico de Barras - Cuestionarios y Encuestas -->
            <div class="cifras-flex-box">
              <canvas id="graficoBarrasCuestionarios" width="400" height="200"></canvas>
              <h4>Número de Instrumentos Aplicados: 150</h4>
              <p>
                Comparación visual del número de cuestionarios y encuestas administradas a estudiantes y docentes.
              </p>
            </div>
            <!-- Gráfico de Tarta - Instituciones Evaluadas -->
            <div class="cifras-flex-box">
              <canvas id="graficoTartaInstituciones" width="400" height="200"></canvas>
              <h4>Cantidad de Instituciones Evaluadas: 50</h4>
              <p>
                Visualización de la distribución de instituciones educativas evaluadas: públicas, privadas y técnicas.
              </p>
            </div>
            <!-- Gráfico de Barras - Datos Recogidos por Ciclo -->
            <div class="cifras-flex-box">
              <canvas id="graficoBarrasCiclos" width="400" height="200"></canvas>
              <h4>Número de Ciclos de Levantamiento de Datos Realizados: 3</h4>
              <p>
                Visualización de la cantidad de datos recogidos en cada uno de los tres ciclos de levantamiento de datos.
              </p>
            </div>
          </div>
        </div>
      </section>
      
    

    <section id="contacto">
        <div class="container">
            <h2>Contacto</h2>
            <p class="large">
                JOSE FERNANDO PINEDA MOSQUERA ---------- > jfpineda.unipacifico.edu.co
            </p>
            <p class="large">
                ALEXANDER REYES CASTRO --------- > areyesc.unipacifico.edu.co
            </p>
            <form action="">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-group-control"  id="name" />
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-group-control"  id="email" />
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea id="message" cols="30" rows="10" class="form-group-control" placeholder="Escribe tu mensaje aquí..."></textarea>
                </div>
                <button class="btn btn-dark">Enviar Mensaje</button>
            </form>
        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
            <img src="assets/images/logogi2t.svg" alt="" class="imagen-footer2">

            <div class="socialIconos">
                <a href="https://www.facebook.com/UnipacificoOmarbaronamurillo"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/unipacifico?igsh=amM0dTZ1aHh1cHg2"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://x.com/home?lang=es"><i class="fa-brands fa-twitter"></i></a>
                <a href="http://www.unipacifico.edu.co/"><i class="fa-brands fa-google-plus"></i></a>
                <a href="https://www.youtube.com/@UnidelPacifico"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul><li><a href="#mainheader">INICIO</a></li></ul>
            </div>
            <img src="assets/images/inge.svg" alt="" class="imagen-footer">
        </div>
    </footer>
    <hr>
</body>
